<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Email from <%= @contact.name %></h4>
    <p>  
    User mail id: <%= @contact.email %>.<br/>
    </p>
    <p>
      Email content:<%= @contact.message %>
    </p>
  </body>
</html>