<div class="container">
  <div class="row"> 
    <div class="col-lg-10 ">
      <% @url = {controller: 'users_admin', action: 'create', method: :post} %>
      <%= notice %>
      <%= render 'form' %>
    </div>
  </div>
</div>

