<div class="container">
    <div class="row"> 
      <div class="col-lg-10 ">              
        <% @url = {controller: 'gadgets', action: 'update', id: @gadget.id} %>
        <% @method = 'put'%>
        <%= notice %>
        <%= render 'form' %>
      </div>
    </div>   
</div> 