<div class="sidebar-padding">
	<div class="list-group">
    <%= link_to 'Users', users_admin_index_path, :method =>
        	'get', :class => "list-group-item active"%>
    <%= link_to 'Roles', roles_path, :method =>
        	'get', :class => "list-group-item active"%>
    <%= link_to 'Gadgets Inventory', gadgets_path, :method =>'get', :class => "list-group-item"%>
  </div>
</div>