<html>
	<head>
  	<title>Railsdotpdf32</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  	<%#= wicked_pdf_stylesheet_link_tag   "application",  :media => "all" %>
	</head>
	<body>

	<%= yield %>

	</body>
</html>
